body{
    background-image: linear-gradient(90deg,#DEECFF 0,#C4DDFF);
}

.container{
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
    padding: 50px;
}

.text-muted{
    color: #aaa;
}

.push-ul{
    margin-top:2.12em;
}

.push-p{
    margin-top:2.5em;
}

/* lists */

.list-item *{
    padding:0;
    margin:0;
    display: inline;
}

.list-push-right{
    margin-left:10px;
}

ul {
    list-style: none;
    padding:0;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li:before {
    font-size: 2rem;
    content: "• ";
    color: #80B5FF; 
}

/* text carousel */

.text-carousel{
    overflow: hidden;
    min-height:40px !important;
    height: 40px;
}

.text-carousel *{
    margin: 0;
    padding: 0;
}

.text-carousel ul{
  padding-left:200px;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.text-carousel li:before {
    content: "";
}

.text-carousel ul li {
  line-height:40px;
  margin:0;
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(-25%);}
  17%,29% {transform:translateY(-50%);}
  34%,46% {transform:translateY(-75%);}
  51%,63% {transform:translateY(-100%);}
  68%,80% {transform:translateY(-75%);}
  85%,97% {transform:translateY(-50%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(-25%);}
  17%,29% {transform:translateY(-50%);}
  34%,46% {transform:translateY(-75%);}
  51%,63% {transform:translateY(-100%);}
  68%,80% {transform:translateY(-75%);}
  85%,97% {transform:translateY(-50%);}
}

@media (max-width: 550px) {
.text-carousel ul{
  padding-left:150px;
}

.text-carousel{
    min-height:30px !important;
    height: 30px;
}
}

/* links */

a{
    text-decoration: none;
    color: inherit;
    background-color: #DEECFF;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

a:hover{
    background-color: #80B5FF;
}


/* menu */

.menu a{
    font-size: 1.8rem;
    background-color: #fff;
    transition: background-color 0.5s;
}

.menu a:hover{
    background-color: #80B5FF;
}

/* stars */

.inline *{
    display: inline;
}

.stars{
    font-size: 2rem;
}

.stars-1-5 h6:nth-child(-n+1){
    color:#80B5FF;
}

.stars-2-5 h6:nth-child(-n+2){
    color:#80B5FF;
}

.stars-3-5 h6:nth-child(-n+3){
    color:#80B5FF;
}

.stars-4-5 h6:nth-child(-n+4){
    color:#80B5FF;
}

.stars-5-5 h6:nth-child(-n+5){
    color:#80B5FF;
}

/* heart */

.heart{
    color: #FE4365;
}