body{
    background-image: linear-gradient(90deg,#FFE1C7 0,#FFCEA3);
}

.container{
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
    padding: 50px;
}

.text-muted{
    color: #aaa;
}


/* lists */

.list-item{
    padding:0;
    margin:0;
    display: inline;
}

ul {
    margin-top: 2.33em;
    list-style: none;
    padding:0;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li:before {
    font-size: 2rem;
    content: "• ";
    color: #FF7A05; 
}

/* text carousel */

.text-carousel{
    overflow: hidden;
    height:40px;
}

.text-carousel *{
    margin: 0;
    padding: 0;
}

.text-carousel ul{
  margin-top:0;
  padding-left:280px;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.text-carousel li:before {
    content: "";
}

.text-carousel ul li {
  line-height:40px;
  margin:0;
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}


/* links */

a{
    text-decoration: none;
    color: inherit;
    background-color: #FFF1E6;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

a:hover{
    background-color: #FFE1C7;
}


/* menu */

.menu a{
    font-size: 1.8rem;
    background-color: #fff;
    transition: background-color 0.5s;
}

.menu a:hover{
    background-color: #FFE1C7;
}